@import "tailwindcss";

@font-face {
  font-family: 'Geist';
  src: url(/fonts/Geist-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url(/fonts/Geist-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url(/fonts/Geist-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url(/fonts/Geist-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeistMono';
  src: url(/fonts/GeistMono-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeistMono';
  src: url(/fonts/GeistMono-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar { 
  display: none;
}

:root {
  --vp-code-block-bg: hsl(0 0% 6%);
  --vp-code-line-highlight-color: #4eac9a1a;
  --vp-c-bg: hsl(0 0% 0%);
  --vp-c-text-1: #ededed;
  --vp-sidebar-bg-color: hsl(0 0% 0%);
  --vp-c-brand-1: #00d7af;
  --vp-c-brand-2: var(--vp-c-brand-1);
  --vp-font-family-mono: GeistMono, Menlo, Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --vp-font-family-base: "Geist", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --vp-c-bg-soft: var(--vp-c-bg);
  --vp-c-gutter: var(--vp-c-bg);
  --vp-c-border: hsl(0 0% 12%);
  --vp-c-divider: hsl(0 0% 12%);
}

::selection {
  color: hsl(172.46 66.01% 50.39%);
  background: hsl(178.6 84.31% 10%);
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.vp-doc [class*='language-'] code .highlighted::after {
  background: #00d7afad;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.logo {
  height: 20px !important;
  width: 20px !important;
  margin-right: 12px !important;
}

.title span {
  font-size: 18px;
  color: #fff;
}

.VPNavBarAppearance, .VPNavScreenAppearance {
  display: none !important;
}

.DocSearch-Button:hover {
  border: 1px solid hsl(0 0% 14%);
}

@media (hover: hover) {
  .vp-doc a:hover {
    color: #00ffd0;
  }
}

.outline {
  outline-width: 0;
}

.top-link {
  color: #fff !important;
}

code, pre {
  font-variant-ligatures: none;
}

pre,
.vp-doc [class*='language-'] pre {
  background: #0a0a0a;
  margin: 0;
  overflow-x: auto;
  padding: 20px 0;
}

code,
.vp-doc [class*='language-'] code {
  padding: 0 !important;
  color: #ededed;
  display: grid;
  font-family: var(--vp-font-family-mono);
  font-size: 13px;
  font-variant-ligatures: none;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 20px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

pre .line {
  height: 20px;
  padding: 0 20px;
  position: relative;
}

.vp-doc :not(pre) > code {
  display: inline;
  color: #fff;
  white-space: normal;
  overflow-wrap: break-word;
  font-family: var(--vp-font-family-mono);
  word-break: break-word;
  border-radius: 4px;
  padding: 2px 4px !important;
  font-size: .9em;
  background: hsl(0, 0%, 12%);
  border: 1px solid #2e2e2e;
  font-variant-ligatures: none;
}